#root {
  width: 100%;
  margin: 0 auto; /* Centrar el root por si acaso */
  padding: 0;
  /* Quitamos text-align: left forzado, dejamos que fluya natural */
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Doble seguridad para evitar scroll horizontal */
  position: relative;
}
.breadcrumb-bar {
    margin-top: 10px; 
    margin-bottom: 5px;
    padding: 10px 0; /* Mantenemos el padding que ya tenías */
}

/* OPCIONAL: Ajuste para celulares (Responsive) */
@media (max-width: 1008px) {
    .breadcrumb-bar {
    padding: 10px 0; 
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 0.95rem;
    color: #666;
    } 
}